<h2>nav</h2>
<h3>Residential</h3>
{{#link-to "portal"}}NJ Vacancies{{/link-to}}
{{#link-to "portal"}}PA Vacancies{{/link-to}}
{{#link-to "portal"}}Communities{{/link-to}}
<h3>Commercial</h3>
{{#link-to "portal"}}Facilities{{/link-to}}
{{#link-to "portal"}}Vacancies{{/link-to}}
{{#link-to "portal"}}Self Storage{{/link-to}}
{{#link-to "connect"}}Connect{{/link-to}}
{{#link-to "portal"}}Portal Login{{/link-to}}

{{outlet}}

<h2>footer</h2>
<h3>Residential</h3>
{{#link-to "portal"}}NJ Vacancies{{/link-to}}
{{#link-to "portal"}}PA Vacancies{{/link-to}}
{{#link-to "portal"}}Communities{{/link-to}}
<h3>Commercial</h3>
{{#link-to "portal"}}Facilities{{/link-to}}
{{#link-to "portal"}}Vacancies{{/link-to}}
{{#link-to "portal"}}Self Storage{{/link-to}}
{{#link-to "connect"}}Connect{{/link-to}}
{{#link-to "portal"}}Portal Login{{/link-to}}
